.detail-header {
  padding: 20px 0;
}

.detail-header .ant-carousel .slick-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.detail-header .dh-box {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px #00000012;
          box-shadow: 0px 0px 4px 0px #00000012;
  position: relative;
}

.detail-header .dh-box h2 {
  color: #231f20;
  font-size: 30px;
  font-weight: 600;
  padding-right: 60px;
}

.detail-header .dh-box .btn-fav {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  line-height: 55px;
  background: none;
  color: #FCBB4C;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.detail-header .dh-box .rating {
  font-size: 16px;
}

.detail-header .dh-box .rating .anticon-star {
  margin: 0 5px;
  color: #7B3772;
}

.detail-header .dh-box .desc {
  margin-bottom: 20px;
  line-height: 26px;
}

.detail-header .dh-box .border {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #F0F0F0;
  margin-bottom: 15px;
}

.detail-header .dh-box .time, .detail-header .dh-box .confirm, .detail-header .dh-box .gender {
  font-size: 18px;
  position: relative;
}

.detail-header .dh-box .time .anticon, .detail-header .dh-box .confirm .anticon, .detail-header .dh-box .gender .anticon {
  color: #7B3772;
  margin-right: 5px;
}

.detail-header .dh-box .booknow {
  display: inline-block;
  width: 100%;
  padding: 0 35px;
}

.detail-header .dh-box .booknow .ant-btn-primary {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: #513369;
  background: -webkit-gradient(linear, left top, right top, from(#513369), color-stop(#C759AF), to(#7B3772));
  background: linear-gradient(to right, #513369, #C759AF, #7B3772);
  border: none;
  border-radius: 5px;
}

.detail-header .dh-box .booknow .ant-btn-primary:hover, .detail-header .dh-box .booknow .ant-btn-primary:focus {
  background: #513369;
  background: -webkit-gradient(linear, left top, right top, from(#7B3772), color-stop(#C759AF), to(#513369));
  background: linear-gradient(to right, #7B3772, #C759AF, #513369);
}

.detail-information {
  display: inline-block;
  width: 100%;
}

.detail-information h2 {
  font-size: 28px;
  color: #231f20;
  font-weight: 600;
}

.detail-information .about {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.detail-information .about p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.location-box {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px #00000012;
          box-shadow: 0px 0px 4px 0px #00000012;
  position: relative;
  padding-right: 80px;
  margin-bottom: 30px;
}

.location-box p {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

.location-box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.location-box:after {
  content: '';
  background: url(../img/location-pin.png) no-repeat 9px 8px;
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -19px;
}

.select-service {
  display: inline-block;
  width: 100%;
}

.select-service .ant-tabs-nav {
  margin-bottom: 40px;
  margin-top: 10px;
}

.select-service .ant-tabs-nav:before {
  border: none;
}

.select-service .ant-tabs-nav .ant-tabs-ink-bar {
  display: none;
}

.select-service .ant-tabs-nav .ant-tabs-tab {
  margin: 0px;
  padding: 8px 20px;
  font-size: 16px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  margin-right: -1px;
  font-weight: 500;
}

.select-service .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
  color: #333;
}

.select-service .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn:hover, .select-service .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn:focus {
  color: #231f20;
}

.select-service .ant-tabs-nav .ant-tabs-tab-active {
  background: #513369;
  background: -webkit-gradient(linear, left top, right top, from(#513369), color-stop(#C759AF), to(#7B3772));
  background: linear-gradient(to right, #513369, #C759AF, #7B3772);
}

.select-service .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.service_loop {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.service_loop li {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.service_loop li .ant-checkbox-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}

.service_loop li .ant-checkbox-wrapper .ant-checkbox {
  position: absolute;
  left: 5px;
  top: 0px;
}

.service_loop li .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.service_loop li .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner:after {
  width: 7.714286px;
  height: 14.142857px;
  left: 8px;
  top: 13px;
}

.service_loop li .ant-checkbox-wrapper .ant-checkbox-checked:after {
  border-radius: 50%;
}

.service_loop li .ant-checkbox-wrapper span {
  padding: 0px;
}

.service_loop li .title {
  display: inline-block;
  font-size: 16px;
}

.service_loop li .price {
  font-size: 17px;
  font-weight: bold;
  color: #7b3772;
  display: inline-block;
  margin-left: 10px;
}

.service_loop li .hour {
  display: block;
  font-size: 13px;
}

.service_loop p {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

.staf-checkbox {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}

.staf-checkbox .ant-checkbox-wrapper {
  display: inline-block;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 0px;
}

.staf-checkbox .ant-checkbox-wrapper .ant-checkbox {
  display: none;
}

.staf-checkbox .ant-checkbox-wrapper span {
  display: inline-block;
  padding: 0px;
}

.staf-checkbox .ant-checkbox-wrapper .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  border: none;
  margin-bottom: 10px;
}

.staf-checkbox .ant-checkbox-wrapper .img img {
  width: 100%;
  height: auto;
}

.staf-checkbox .ant-checkbox-wrapper .title {
  display: block;
  font-size: 16px;
}

.staf-checkbox .ant-checkbox-wrapper .ant-checkbox-checked + span .img {
  -webkit-box-shadow: 0px 0px 0px 5px #b751a1;
          box-shadow: 0px 0px 0px 5px #b751a1;
  border-color: transparent;
}

.flex-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-reviews h2 {
  margin: 0px;
}

.flex-reviews .btn-add-review {
  height: 45px;
  width: 120px;
  border-radius: 5px;
  font-size: 18px;
}

.reviews-loop {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.reviews-loop li {
  display: inline-block;
  width: 100%;
}

.reviews-loop .box {
  display: inline-block;
  width: 100%;
  border: 1px solid #ececec;
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
}

.reviews-loop .box h4 {
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  padding-right: 200px;
  margin-bottom: 10px;
  font-weight: 600;
}

.reviews-loop .box .date {
  display: inline-block;
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.reviews-loop .box .star-value {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.reviews-loop .box p {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  color: #666;
  line-height: 1.5;
}

.reviews-loop .box .anticon-star {
  color: #292929;
  margin-right: 10px;
}

.side-carts {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px #00000012;
          box-shadow: 0px 0px 4px 0px #00000012;
}

.side-carts .heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  min-height: 80px;
  padding-left: 100px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.side-carts .heads .img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

.side-carts .heads .img img {
  max-height: 80px;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-carts .heads .title {
  font-weight: 600;
  margin-bottom: 10px;
}

.side-carts .heads address {
  margin-bottom: 0px;
}

.side-carts .orders {
  display: inline-block;
  width: 100%;
}

.side-carts .orders ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ECECEC;
}

.side-carts .orders ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-carts .orders ul li h4 {
  font-size: 16px;
  font-weight: 600;
}

.side-carts .orders ul li p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #666;
}

.side-carts .orders ul li .price {
  font-weight: 600;
  color: #7b3772;
}

.side-carts .cart-bill {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.side-carts .cart-bill p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
}

.side-carts .cart-bill p .price {
  color: #7b3772;
}

.side-carts .cart-bill .bolds {
  font-weight: bold;
}

.side-carts .cart-bill p.sub, .side-carts .cart-bill p.total {
  color: #7b3772;
}

.side-carts .cart-bill p.total {
  padding: 20px 0;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}

.side-carts .booknow {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}

.side-carts .booknow .ant-btn-primary {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: #513369;
  background: -webkit-gradient(linear, left top, right top, from(#513369), color-stop(#C759AF), to(#7B3772));
  background: linear-gradient(to right, #513369, #C759AF, #7B3772);
  border: none;
  border-radius: 5px;
}

.side-carts .booknow .ant-btn-primary:hover, .side-carts .booknow .ant-btn-primary:focus {
  background: #513369;
  background: -webkit-gradient(linear, left top, right top, from(#7B3772), color-stop(#C759AF), to(#513369));
  background: linear-gradient(to right, #7B3772, #C759AF, #513369);
}

.venue-near h2 {
  font-size: 28px;
  color: #231f20;
  font-weight: 600;
}
/*# sourceMappingURL=detail.css.map */